<div class="mobile-menu">
  <div class="mobile-menu-block">
    <a href="tel:+380684439426" class="mobile-menu-phone"
      >+380 (68) 443-94-26</a
    >
    <button type="button" class="mobile-menu-close">
      <svg class="" width="" height="">
        <use href=""></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu">
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item"><a href="" class="mobile-menu-link"></a></li>
      <li class="mobile-menu-item"><a href="" class="mobile-menu-link"></a></li>
      <li class="mobile-menu-item"><a href="" class="mobile-menu-link"></a></li>
      <li class="mobile-menu-item"><a href="" class="mobile-menu-link"></a></li>
    </ul>
  </div>
  <img src="" alt="" />
</div>
