<section class="order">
  <div class="order-bg-container"></div>
  <div class="container order-container">
    <div class="order-content-wrapper">
      <h2 class="order-title" id="order">
        <span class="order-accent-color">Your order</span> is our priority:
        Personalized approach and quality of service
      </h2>
      <form class="order-form">
        <div class="order-form-wrapper">
          <div class="order-field-wrapper">
            <label class="order-field-label visually-hidden" for="user-name"
              >Enter your full name</label
            >
            <input
              class="order-form-input"
              id="user-name"
              type="text"
              name="user-name"
              pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+"
              title="Viktor"
              required
              placeholder="Enter your full name"
            />
          </div>
          <div class="order-field-wrapper">
            <label class="order-field-label visually-hidden" for="user-email"
              >Enter your email</label
            >
            <input
              class="order-form-input"
              id="user-email"
              type="email"
              name="user-email"
              pattern="ivettafrank@gmail.com"
              required
              placeholder="Enter your email"
            />
          </div>
          <div class="order-field-wrapper">
            <label class="order-field-label visually-hidden" for="user-comment"
              >Comments</label
            >
            <textarea
              class="order-form-message"
              id="user-comment"
              name="user-comment"
              required
              placeholder="Comments"
            ></textarea>
          </div>
          <button class="order-form-submit order-btn" type="submit">
            Send
            <svg class="order-submit-icon" width="24" height="16">
              <use href="./img/icons.svg#icon-button-arrow"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>

    <div class="order-img-wrapper">
      <picture class="order-content">
        <source
          srcset="
            ./img/order/order-content-d1280.jpg    1x,
            ./img/order/order-content-d1280@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/order/order-content-tablet.jpg    1x,
            ./img/order/order-content-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="order-content-img"
          src="./img/order/order-content-tablet.jpg"
          alt="gray embroidered shirt with white sleeves and ornaments in black, gray, white and red shades on a girl"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
