<section class="collection" id="anchor2">
  <div class="container">
    <div class="ornament"></div>
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-item">
        <div class="card-wrap">
          <picture>
            <source
              srcset="
                ./img/ourcollection/descktop_1440/poltava-descktop_1440-@1x-min.jpg 1x,
                ./img/ourcollection/descktop_1440/poltava-descktop_1440-@2x-min.jpg 2x
              "
              media="(min-width: 1439px)"
            />
            <source
              srcset="
                ./img/ourcollection/descktop_1280/poltava-descktop_1280-@1x-min.jpg 1x,
                ./img/ourcollection/descktop_1280/poltava-descktop_1280-@2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/ourcollection/tablet/poltava-tablet-@1x-min.jpg 1x,
                ./img/ourcollection/tablet/poltava-tablet-@2x-min.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                ./img/ourcollection/mobile/poltava-@1x-min.jpg 1x,
                ./img/ourcollection/mobile/poltava-@2x-min.jpg 2x
              "
              media="(max-width: 320px)"
            />
            <img
              class="img"
              src="./img/ourcollection/mobile/poltava-@1x-min.jpg"
              alt="collection"
            />
          </picture>
        </div>
        <div class="collection-card">
          <h3 class="collection-subtitle">AUGUST Poltava women's blouseRING</h3>
          <p class="collection-text">3300 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="card-text-wrap">
          <picture>
            <source
              srcset="
                ./img/ourcollection/descktop_1440/gorgany-descktop_1440-@1x-min.jpg 1x,
                ./img/ourcollection/descktop_1440/gorgany-descktop_1440-@2x-min.jpg 2x
              "
              media="(min-width: 1439px)"
            />
            <source
              srcset="
                ./img/ourcollection/descktop_1280/gorgany-descktop_1280-@1x-min.jpg 1x,
                ./img/ourcollection/descktop_1280/gorgany-descktop_1280-@2x-min.jpg 2x
              "
              media="(min-width: 1279px)"
            />
            <source
              srcset="
                ./img/ourcollection/tablet/gorgany-tablet-@1x-min.jpg 1x,
                ./img/ourcollection/tablet/gorgany-tablet-@2x-min.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                ./img/ourcollection/mobile/gorgany-1x-min.jpg    1x,
                ./img/ourcollection/mobile/gorgany-64@2x-min.jpg 2x
              "
              media="(max-width: 320px)"
            />
            <img
              class="img"
              src="./img/ourcollection/mobile/gorgany-1x-min.jpg"
              alt="collection"
            />
          </picture>
        </div>
        <div class="collection-card">
          <h3 class="collection-subtitle">Women's blouse Gorgany</h3>
          <p class="collection-text">3350 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="card-text-wrap">
          <picture>
            <source
              srcset="
                ./img/ourcollection/descktop_1440/crimea-descktop_1440-@1x-min.jpg 1x,
                ./img/ourcollection/descktop_1440/crimea-descktop_1440-@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/ourcollection/descktop_1280/crimea-descktop_1280-@1x-min.jpg 1x,
                ./img/ourcollection/descktop_1280/crimea-descktop_1280-@2x-min.jpg 2x
              "
              media="(min-width: 1279px)"
            />
            <source
              srcset="
                ./img/ourcollection/tablet/crimea-tablet-@1x-min.jpg 1x,
                ./img/ourcollection/tablet/crimea-tablet-@2x-min.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                ./img/ourcollection/mobile/crimea-64-min.jpg    1x,
                ./img/ourcollection/mobile/crimea-64@2x-min.jpg 2x
              "
              media="(max-width: 320px)"
            />
            <img
              class="img"
              src="./img/ourcollection/mobile/crimea-64-min.jpg"
              alt="collection"
            />
          </picture>
        </div>
        <div class="collection-card">
          <h3 class="collection-subtitle">Women's blouse Crimea</h3>
          <p class="collection-text">4000 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="card-text-wrap">
          <picture>
            <source
              srcset="
                ./img/ourcollection/descktop_1440/verhovina-descktop_1440-@1x-min.jpg 1x,
                ./img/ourcollection/descktop_1440/verhovina_1440-@2x-min.jpg          2x
              "
              media="(min-width: 1439px)"
            />
            <source
              srcset="
                ./img/ourcollection/descktop_1280/verhovina-descktop_1280-@1x-min.jpg 1x,
                ./img/ourcollection/descktop_1280/verhovina-descktop_1280-@2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/ourcollection/tablet/verhovina-tablet-@1x-min.jpg 1x,
                ./img/ourcollection/tablet/verhovina-tablet-@2x-min.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                ./img/ourcollection/mobile/verhovina-@1x-min.jpg 1x,
                ./img/ourcollection/mobile/verhovina-@2x-min.jpg 2x
              "
              media="(max-width: 320px)"
            />
            <img
              class="img"
              src="./img/ourcollection/mobile/verhovina-@1x-min.jpg"
              alt="collection"
            />
          </picture>
        </div>
        <div class="collection-card">
          <h3 class="collection-subtitle">Men's shirt Verkhovina</h3>
          <p class="collection-text">3100 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="card-text-wrap">
          <picture>
            <source
              srcset="
                ./img/ourcollection/descktop_1440/mountain-descktop_1440-@1x-min.jpg 1x,
                ./img/ourcollection/descktop_1440/mountain-descktop_1440-@2x-min.jpg 2x
              "
              media="(min-width: 1439px)"
            />
            <source
              srcset="
                ./img/ourcollection/descktop_1280/mountain-descktop_1280-@1x-min.jpg 1x,
                ./img/ourcollection/descktop_1280/mountain-descktop_1280-@2x-min.jpg 2x
              "
              media="(min-width: 1279px)"
            />
            <source
              srcset="
                ./img/ourcollection/tablet/mountain-tablet-@1x-min.jpg 1x,
                ./img/ourcollection/tablet/mountain-tablet-2x-min.jpg  2x
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                ./img/ourcollection/mobile/mountain-@1x-min.jpg 1x,
                ./img/ourcollection/mobile/mountain-@1x-min.jpg 2x
              "
              media="(max-width: 320px)"
            />
            <img
              class="img"
              src="./img/ourcollection/mobile/mountain-@1x-min.jpg"
              alt="collection"
            />
          </picture>
        </div>
        <div class="collection-card">
          <h3 class="collection-subtitle">Mountain men's shirt</h3>
          <p class="collection-text">3300 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="card-text-wrap">
          <picture>
            <source
              srcset="
                ./img/ourcollection/descktop_1440/yasen-1400-@1x-min.jpg 1x,
                ./img/ourcollection/descktop_1440/yasen-1440-@2x-min.jpg 2x
              "
              media="(min-width: 1439px)"
            />
            <source
              srcset="
                ./img/ourcollection/descktop_1280/yasen-descktop_1280-@1x-min.jpg 1x,
                ./img/ourcollection/descktop_1280/yasen-descktop_1280-@2x-min.jpg 2x
              "
              media="(min-width: 1279px)"
            />
            <source
              srcset="
                ./img/ourcollection/tablet/yasen-tablet-@1x-min.jpg 1x,
                ./img/ourcollection/tablet/yasen-tablet-@2x-min.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                ./img/ourcollection/mobile/yasen-@1x-min.jpg 1x,
                ./img/ourcollection/mobile/yasen-@2x-min.jpg 2x
              "
              media="(max-width: 320px)"
            />
            <img
              class="img"
              src="./img/ourcollection/mobile/yasen-@1x-min.jpg"
              alt="collection"
            />
          </picture>
        </div>
        <div class="collection-card">
          <h3 class="collection-subtitle">Men's shirt Yasen</h3>
          <p class="collection-text">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
