<section class="section-testimonials container" id="anchor4">
  <div class="section-testimonials-container container">
    <h2 class="section-testimonials-title-one">Testimonials</h2>
    <ul class="section-testimonials-listen">
      <li class="section-testimonials-listen-img img-one">
        <img
          srcset="
            /img/testimonials.jpg/Ellipse1-opt.png    1x,
            /img/testimonials.jpg/Ellipse1-2x-opt.png 2x
          "
          src="/img/testimonials.jpg/Ellipse1-opt.png"
          alt="Maria Tkachuk"
          width="64"
          height="64"
          class="section-testimonials-img-listen"
        />
        <div class="section-testimonials-paragraph-title">
          <h3 class="section-testimonials-title-two">Maria Tkachuk</h3>
          <p class="section-testimonials-paragraph">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>
      <li class="section-testimonials-listen-img img-two">
        <img
          srcset="
            /img/testimonials.jpg/Ellipse2-opt.png    1x,
            /img/testimonials.jpg/Ellipse2-2x-opt.png 2x
          "
          src="/img/testimonials.jpg/Ellipse2-opt.png"
          alt="Sergey Rybachok"
          width="64"
          height="64"
          class="section-testimonials-img-listen"
        />
        <div class="section-testimonials-paragraph-title">
          <h3 class="section-testimonials-title-two">Sergey Rybachok</h3>
          <p class="section-testimonials-paragraph">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>
      </li>
      <li class="section-testimonials-listen-img img-three">
        <img
          srcset="
            /img/testimonials.jpg/Ellipse3-opt.png    1x,
            /img/testimonials.jpg/Ellipse3-2x-opt.png 2x
          "
          src="/img/testimonials.jpg/Ellipse3-opt.png"
          alt="Natalia Chatuk"
          width="64"
          height="64"
          class="section-testimonials-img-listen"
        />
        <div class="section-testimonials-paragraph-title">
          <h3 class="section-testimonials-title-two">Natalia Chatuk</h3>
          <p class="section-testimonials-paragraph">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
