.header {
  padding-top: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 52px;
  flex: 0 1 100%;
}

.header-right-block {
  display: flex;
  gap: 8px;
}

.header-menu-general {
  display: none;
}

.header-address {
  display: none;
}

.header-social-list {
  display: flex;
  gap: 12px;
}

.header-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  width: 44px;
  height: 44px;
  background-color: rgba(252, 249, 249, 0.1);
  transition: border-color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.header-social-item:hover,
.header-social-item:focus {
  border-color: #ecd979;
  background-color: #1c2225;
}

.header-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.header-burger-menu {
  border: none;
  padding: 0;
  line-height: 0;
  background-color: transparent;
}
/* =====  mobile adapt ===== */
@media screen and (min-width: 375px) {
  .header-container {
    flex: none;
  }
}
/* ===== tablet ===== */
@media screen and (min-width: 768px) {
  .header-burger-icon {
    width: 43px;
    height: 30px;
  }

  .header-right-block {
    gap: 12px;
  }
}

/* ===== desktop 1280===== */
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 22px;
  }

  .header-burger-menu {
    display: none;
  }

  .header-menu-general {
    display: flex;
  }

  .header-address {
    display: flex;
    font-style: normal;
  }

  .header-general-list {
    display: flex;
    gap: 25px;
  }

  .header-general-link {
    display: flex;
    align-items: center;
    min-height: 44px;
    line-height: 1.28571;
    text-transform: uppercase;
    transition: color 250ms ease-in-out;
  }

  .header-general-link:hover,
  .header-general-link:focus {
    color: #ecd979;
  }

  .header-address {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 26px;
    width: 193px;
    height: 48px;
    line-height: 1.42857;
    text-transform: uppercase;
    transition: border-color 250ms ease-in-out;
  }

  .header-address:hover,
  .header-address:focus {
    border-color: #ecd979;
  }

  .header-right-block {
    gap: 20px;
  }
  .header-left-block {
    display: flex;
    gap: 60px;
  }
}

/* ===== desktop 1440===== */
@media screen and (min-width: 1440px) {
  .header {
    padding-top: 18px;
  }
}
